<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
      <form th:action="@{/getsale}" method="get">
            <div><label> Sale Code: <input type="text" name="id"/> </label></div>
            <div><input type="submit" value="Get sale"/></div>
        </form>
        <br/>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
</body>
</html> 